.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 36px 12px 36px;
}
.navbar > div {
  display: flex;
  align-items: center;
}
.navbarNavigations {
  gap: 60px;
}
.logoLink {
  border: none;
}
.logoLinkImg {
  max-height: 30px;
}
.logoLinkImgWrapper {
  height: 50px !important;
}
.navbarBtns {
  gap: 16px;
}
.navbarBtns > div {
  position: relative;
  padding: 12px 5px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}
.navbarBtns > div > button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.navbarBtns > div > button > div > img {
  height: 18px;
  width: 18px;
}
.navbarBtns > a {
  padding: 12px 24px;
  border-radius: 10px;
  color: var(--primery, #39374d);
  border: 1px solid var(--primery, #39374d);
}
.navbarLinksLogin {
  background: var(--primery, #39374d) !important;
  color: var(--gray-white, #fff) !important;
}
.langModal {
  z-index: 999;
  position: absolute;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  width: -webkit-fill-available;
  left: 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.langModal > li {
  list-style: none;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
}

/* --- Mobile Nav --- */
.mobileNavbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  z-index: 999999;
  background-color: #fff;
}
.mobileNavbar > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

/* --- Profile Header --- */
.profileHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  border: none !important;
  background-color: transparent;
  cursor: pointer;
}
.profileInitial {
  height: 36px;
  width: 36px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-white);
  font-size: 12px;
}
.profileImage {
  border: 1px solid #d9d9d9;
  padding: 2px;
  border-radius: 50%;
}
.profileImage > img {
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
}
.profileHeaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 5px;
}
.profileHeaderWrapper > p {
  margin: 0;
  color: #7f7f7f;
  font-size: 14px;
}
.profileHeaderWrapper > p::first-letter {
  text-transform: capitalize;
}
.profileHeaderWrapper > span {
  font-size: 14px;
}
.arrow {
  transform: rotate(90deg);
}

/* --- User Modal --- */

.profileDropDown {
  position: absolute;
  top: 60px;
  right: 0;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 6px 10px 15px 5px rgba(4, 4, 4, 0.22);
  z-index: 11;
}
.profileDropDownImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 20px 15px;
  text-decoration: none;
  list-style: none;
}
.profileDropDownImgContainer > div {
  position: relative;
}
.profileDropDownImgContainer > span {
  color: #313338;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.profileDropDownImgWrapper > img:first-child {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.profileDropDownImgWrapper > img:not(:first-child) {
  position: absolute;
  bottom: 0;
  right: 0;
}
.profileDropDownLinks,
.profileDropDownLogout {
  display: flex;
  gap: 16px;
  align-items: center;
}
.profileDropDownLinks:hover,
.profileDropDownLogout:hover {
  background-color: #313338;
}

.profileDropDownLinks > span,
.profileDropDownLogout > span {
  color: #313338;
  font-size: 14px;
  font-weight: 500;
}
.profileDropDownLinks {
  border-top: 1px solid #4a5267;
  border-bottom: 1px solid #4a5267;
  padding: 16px 15px;
  text-decoration: none;
}
.profileDropDownLogout {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px 15px;
}
.userModalBtn,
.profileHeaderWrapper {
  padding: 0 !important;
  margin: 0;
  border: none !important;
}
.userModalBtn {
  width: fit-content !important;
  background-color: transparent;
}
@media (max-width: 1028px) {
  .logoLinkSidebar {
    max-height: none;
    max-width: 100px;
    background-color: transparent;
    outline: none;
    border: none;
    filter: invert(100%);
  }
  .mobileSiderbar {
    position: fixed;
    left: 0;
    background: var(--Primary, #39374d);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 65px;
    padding: 20px 40px;
    width: 90%;
    z-index: 999999;
    box-shadow: #000000b3 0 0 100vh 100vh;
    animation: slideFooter 0.4s forwards;
  }
  .mobileSiderbar > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerClose {
    background-color: transparent;
    width: fit-content !important;
    border: none;
  }
  .mobileNavigationLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px !important;
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 30px 0;
  }
  .mobileNavigationLinks > button,
  .mobileNav > button {
    width: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .mobileNavigationLinks > button > a {
    color: var(--Neutral-white, #fff);
    font-size: 16px;
  }

  .mobileNav > button > a {
    color: var(--Neutral-white, #fff);
    font-size: 18px;
  }
  .mobileNavigationLinks > a:hover,
  .mobileNav > a:hover {
    color: var(--Secondary, #ffb142);
  }
  .mobileLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .mobileLinks > button {
    width: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .mobileLinks > button > a {
    color: var(--Neutral-white, #fff);
    font-size: 19px;
  }
  .mobileSocialMedia {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  .logoLinkImgWrapper {
    height: 100% !important;
    min-width: 108px;
  }
  .logoLinkImg {
    max-height: 100% !important;
  }
}
@keyframes slideFooter {
  0% {
    left: -100%;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
