/* --- Header --- */
.headerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 95%;
  margin: 30px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.headerContainerParent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headerContainerParent > h1 {
  color: var(--neutral-700, #514f6e);
  font-size: 22px;
  margin: 0;
}
.headerContainerParent > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Lama Sans;
}
.headerContainerTitle {
  color: var(--neutral-500, #a0a3bd);
}

.headerContainerCurrentTab {
  color: var(--Secondary, #ffb142);
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
  padding: 0;
}
.addNewCategoryBtn {
  padding: 12px 24px;
  max-width: 202px;
  width: 100%;
  border-radius: 10px;
  background: var(--Primary, #39374d);
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.addNewCategoryBtn > div {
  filter: brightness(0) invert(1);
}
.addNewCategoryBtn > span {
  font-family: Lama Sans;
  color: var(--neutral-white, #fff);
}
