.servicesWrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: 100%;
}

.servivesContent {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 40px;
}

.servicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  transition: all 0.5s;
  width: 100%;
  max-width: 1068px;
  justify-items: stretch;
}

.servivesParent {
  width: 100%;
  position: relative;
}
.servivesFilter {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: -40px;
}
.servivesFilter > .removeFilter {
  padding: 6px 12px;
  font-size: 16px;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 100px;
  border: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
}
.removeFilterImg {
  filter: brightness(0%);
}
