.moreFilters {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7.5px;
  margin: 5px 0;
  color: var(--Neutral-800, #0f1f48);
  border: 1px solid lightgray;
  background-color: white;
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 6px 10px 15px 5px rgba(4, 4, 4, 0.087);
  font-size: 12px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.filterBtn {
  width: fit-content;
  display: flex;
  align-items: baseline;
  gap: 10px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  border-right: 1px solid lightgrey;
  padding: 7.5px 10px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.lastBtn {
  border-right: none;
}
.filterBtn > svg {
  margin-top: 1.8px;
}
.filterBtn > div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-self: end;
}
.filterBtn > div > span {
  font-size: 12px;
  color: black;
  font-weight: 400;
}
.filterBtn > div > p {
  font-size: 10px;
  color: grey;
  font-weight: 400;
}
.modal {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid lightgray;
  box-shadow: 6px 10px 15px 5px rgba(4, 4, 4, 0.087);
  z-index: 11;
  padding: 15px;
  animation: slideIn 0.3s ease-out forwards;
}

.closeBtn {
  position: absolute;
  width: fit-content;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* ---- Locatios ---- */
.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  padding: 7.5px 0;
}
.locationLoader,
.locationWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.locationLoader > div {
  display: flex;
  gap: 10px;
}
.locationBtn {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 10px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 7.5px 10px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 10px;
}
.locationBtn:hover {
  background-color: black;
  color: white;
}
.locationBtn:hover > div > span {
  color: white;
}

.locationBtn > svg {
  margin-top: 1.8px;
}
.locationBtn > div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0px;
}
.locationBtn > div > h1 {
  font-size: 14px;
}
.locationBtn > div > span {
  font-size: 12px;
  transition: color 0.3s ease-in-out;
}
.locationContainer > span {
  color: rgb(138, 5, 5);
  font-size: 12px;
  text-align: center;
  transition: all 1s ease-in-out;
}
.pricingContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 16px;
  transition: all 0.3s ease-in-out;
  padding: 7.5px;
  opacity: 0;
  animation: fadeIn 0.3s ease-out 0.3s forwards;
}
.pricingContainer > h1 {
  font-size: 14px;
}

.pricingWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.pricingBtn {
  display: flex;
  align-items: center;
  gap: 7.5px;
  color: var(--Neutral-800, #0f1f48);
  border: 1px solid lightgray;
  background-color: whitesmoke;
  padding: 7.5px 10px;
  border-radius: 30px;
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.active,
.pricingBtn:hover {
  background-color: var(--Neutral-800, #0f1f48);
  color: white;
}

.sliderContainer {
  position: relative;
  width: 100%;
  margin: 5px 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
}
.slider:first-of-type {
  z-index: 2;
}

.currencyInput {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
}
.currencyInput > span {
  font-size: 12px;
}
.currencyInput > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.currencySymbol {
  color: black;
  font-size: 12px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.sliderInput {
  width: 100%;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
/* Chrome, Safari, Edge, Opera */
.sliderInput::-webkit-outer-spin-button,
.sliderInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sliderInput[type="number"] {
  -moz-appearance: textfield;
}
.rangeHighlight {
  position: absolute;
  height: 14px;
  background-color: black;
  top: 0;
}

/* --- Ratings --- */
.ratingsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 7.5px;
}
.ratingsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
.ratingsWrapper > h1 {
  font-size: 14px;
}
.ratingsBtns {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.ratingsBtn {
  display: flex;
  align-items: center;
  gap: 7.5px;
  color: var(--Neutral-800, #0f1f48);
  border: 1px solid lightgray;
  background-color: whitesmoke;
  padding: 7.5px 24px;
  border-radius: 30px;
  width: fit-content;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.ratingsBtn:hover {
  background-color: black;
  color: white;
}
@media (max-width: 1028px) {
  /* --- Mboile Filtering --- */
  .mobileFilters,
  .modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99999999;
    background-color: white;
    height: 90%;
    animation-name: slideInFromBottom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    box-shadow: #000000b3 0 0 100vh 100vh;
    border-radius: 10px 10px 0 0;
  }
  .mobileFilters {
    padding: 24px;
  }

  .filterBtn {
    width: 100%;
    border: none;
    outline: none;
    padding: 7.5px 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 10px;
  }
  .filterBtn:hover {
    background-color: black;
    color: white;
  }
  .filterBtn:hover > div > span {
    color: white;
  }
  .filterBtn:hover > svg {
    filter: invert(100%);
  }

  .filterBtn > div > span {
    font-weight: 700;
    font-size: 13px;
  }
  .filterBtn > div {
    gap: 3px;
  }
  .moreFiltersBtn {
    color: black;
  }
  .locationBtn > div > h1 {
    color: black;
  }
  .moreFiltersBtn:hover {
    background-color: transparent !important;
    color: black;
  }
  .modalCloseBtn {
    position: sticky;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  .modalCloseBtn > button {
    border: none;
    background-color: lightgray;
    height: 5px;
    border-radius: 10px;
    width: 60px;
  }
  .ratingsContainer,
  .locationLoader,
  .locationContainer {
    padding: 34px 0;
    height: 100%;
    transition: none;
  }
  .locationContainer > span {
    margin: auto;
  }
  .ratingsBtns {
    gap: 15px;
  }
  .modal > div {
    height: 100%;
  }
  .closeBtn {
    top: 24px;
    right: 24px;
  }
  .moreFilters {
    margin: 0;
  }
}
@keyframes slideIn {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes slideInFromBottom {
  0% {
    top: 120%;
    opacity: 0;
  }
  100% {
    top: 30%;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
