.tabs {
  background: #39374d;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
  width: 100%;
  max-width: 260px;
  padding: 30px 16px;
  position: relative;
  transition: transform 0.3s ease-out;
  will-change: transform;
  height: 100%;
  position: sticky;
  top: 0;
}
.tabsHidden {
  transform: translateX(-50%);
  max-width: min-content;
}
.tab {
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease;
  outline: none;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  color: #fff;
}

.tab:hover {
  background-color: #ddd;
}
.logoLinkImg {
  max-width: 158px;
  filter: brightness(0) invert(1);
}
.logoLink {
  margin: 0 auto;
  padding: 15px 0 45px;
}
.activeTab {
  background: var(--neutral-white, #fff);
  color: var(--Primary, #39374d);
  border-radius: 10px;
}
.activeTab > div > img {
  filter: invert(100%);
}

.sideBarHideBtn {
  position: absolute;
  right: -15px;
  border-radius: 100px;
  background: var(--Secondary, #ffb142);
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
}
.tabContent {
  min-height: 950px;
  width: 100%;
  background: var(--neutral-25, #fcfcfd);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboardContainer {
  display: flex;
  gap: 16px;
  overflow: auto;
  height: 100%;
}
