.heroBanner {
  display: flex;
  gap: 64px;
  padding: 50px 90px;
}
.heroBanner > div {
  max-width: 839px;
  width: 100%;
}
.heroBannerWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.backgroundContainer {
  background: url("images/Home/backgroundContainer.svg");
  position: relative;
}
.img {
  max-height: 852px;
  max-width: 750px;
  min-height: 500px;
}
.heroBannerTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.heroBannerTitle > span {
  border-radius: 100px;
  background: var(--primary);
  white-space: pre;
  color: #fff;
  padding: 3px 12px;
  font-size: 14px;
}
.heroBannerDescreption > p,
.heroBannerTitle > p {
  font-size: 16px;
  color: var(--primary);
  line-height: 1.4;
}
.heroBannerDescreption > p {
  font-weight: 500;
}
.heroBannerHeaderTitle > h1 {
  color: #000;
  font-size: 64px;
  margin: 0;
}
.heroBannerHeaderTitle > h1 > strong {
  color: var(--secondary);
}
.heroBannerHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.heroBannerNavigations {
  display: flex;
  align-items: center;
  gap: 16px;
}
.heroBannerNavigations > a {
  padding: 18px 24px;
  cursor: pointer;
  border-radius: 28px;
  font-size: 16px;
}
.heroBannerServicesLink {
  background: var(--primary);
  color: #fff;
  border: 1px solid transparent;
  transition: background 0.1s ease-in, color 0.1s ease-in, border 0.1s ease-in;
}
.heroBannerServicesLink:hover {
  background: white;
  color: var(--primary);
  border: 1px solid var(--primary, #39374d);
}
.heroBannerSignUpLink {
  padding: 18px 20px;
  color: var(--primary);
  border: 1px solid var(--primary);
  background: transparent;
  transition: background 0.1s ease-in, color 0.1s ease-in, border 0.1s ease-in;
}

.heroBannerSignUpLink:hover {
  background: var(--primary);
  color: #fff;
  border: 1px solid transparent;
}
.slideIn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.slideOut {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}
@media (max-width: 1028px) {
  .heroBanner {
    padding: 20px 0;
    gap: 30px;
    flex-direction: column-reverse;
    max-width: none;
    width: 100%;
  }
  .heroBannerTitle {
    display: none;
  }
  .heroBanner > div {
    max-width: none;
  }
  .heroBannerHeaderTitle > h1 {
    font-size: 32px;
  }

  .heroBannerNavigations {
    flex-direction: column;
  }
  .heroBannerNavigations > a {
    width: 100%;
    text-align: center;
  }
  .img {
    min-height: 325px;
    max-height: 350px;
    object-fit: contain;
  }
  .slideIn,
  .slideOut {
    width: 100%;
  }
  .imgWrapper {
    max-height: 333px;
  }
  .backgroundContainer {
    text-align: center;
  }
  .heroBannerHeader {
    gap: 12px;
  }
}
