.providersWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.providersWrapper > h1 {
  margin: 0;
  color: var(--Neutral-800, #0f1f48);
  font-size: 20px;
}
.providers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 25px;
}
.providers > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.imgName,
.imgWrapper {
  width: 60px !important;
  height: 60px !important;
  background: var(--Neutral-100, #edeff1);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
}
@media (max-width: 1028px) {
  .providers {
    grid-template-columns: auto;
  }
}
