.filterSideBar {
  gap: 24px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.filterSideBarTitle {
  color: var(--Neutral-500, #a0a3bd);
  font-size: 14px;
}

.wrapper {
  border-radius: 10px;
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  gap: 16px;
}

.wrapper > span {
  color: var(--Neutral-800, #0f1f48);
  font-size: 16px;
  font-weight: 700;
}

.filterCategoriesBtns {
  display: flex;
  align-items: center;
  gap: 7.5px;
  margin: 5px 0;
  color: white;
  border: 1px solid lightgray;
  background-color: black;
  padding: 7.5px 14px;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.filterCategoryLabel {
  display: flex;
  align-items: center;
  gap: 7.5px;
  margin: 5px 0;
  color: var(--Neutral-800, #0f1f48);
  border: 1px solid lightgray;
  background-color: whitesmoke;
  padding: 7.5px 10px;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.filterCategoryLabel:hover,
.checkedLabel {
  background-color: black;
  color: white;
}

.filterCategoryCheckbox {
  display: none;
}
.filterCategoryLabel > svg {
  transition: filter 0.3s ease-in-out;
}
.filterCategoryLabel:hover > svg {
  filter: invert(100%);
}
.checkedLabel:hover > svg {
  filter: none;
}
.rangeSlider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  background: var(--Neutral-50, #f8fafc);
  padding: 24px;
}

.rangeSlider > span {
  color: var(--Neutral-800, #0f1f48);
  font-size: 16px;
  font-weight: 700;
}

.rangeSliderMinMax {
  display: flex;
  align-content: center;
  gap: 15px;
  width: 100%;
  padding: 8px 0;
}

.rangeSliderMinMax > div {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--Neutral-500, #a0a3bd);
  background: var(--Neutral-white, #fff);
  padding: 10px;
  color: var(--Neutral-500, #a0a3bd);
  font-size: 12px;
}

.doubleSlider {
  position: relative;
}

.lowerSlider,
.upperSlider {
  width: 100%;
  position: absolute;
  -webkit-appearance: none;
  background: transparent;
}

.lowerSlider::-webkit-slider-thumb,
.upperSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffb142;
  z-index: 99999999;
  cursor: pointer;
}

.lowerSlider::-webkit-slider-runnable-track,
.upperSlider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
  background: #d9d9d9;
}

.doubleSlider::before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ffb142;
  left: var(--min-range);
  right: var(--max-range);
  z-index: 9999;
}

.lowerSlider::-webkit-slider-thumb,
.upperSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffb142;
  cursor: pointer;
  margin-top: -9px;
  box-sizing: border-box;
}

@media (max-width: 1028px) {
  .wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 5px;
  }
  .filterCategoriesBtns {
    background-color: #0f1317;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    font-size: 12px;
  }

  .filterSideBar {
    width: 100%;
  }
  .filterSideBarTitle {
    color: var(--Neutral-1000, #0f1317);
    font-weight: 700;
    font-size: 16px;
  }
  .filterSideBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .filterModalBtn {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    width: fit-content;
    transform: rotate(90deg);
  }
  .arrow {
    transition: transform 0.3s ease;
  }

  .arrowActive {
    transform: rotate(180deg);
  }
}
