.heroBanner {
  min-height: 451px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 10px 15px 5px rgba(124, 123, 123, 0.05);
}
.heroBannerContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.heroBannerContent > h1 {
  color: var(--Neutral-white, #fff);
  font-size: 36px;
  margin: 0;
}
.heroBannerNav {
  display: flex;
  align-items: end;
  gap: 15px;
}
.heroBannerNav > h1 {
  font-size: 64px;
}
.heroBannerNav > div {
  background-color: #ffb142;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.heroBannerSearch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--Neutral-white, #fff);
  border: 1px solid lightgray;
  box-shadow: 6px 10px 15px 5px rgba(77, 77, 77, 0.087);
  width: 100%;
  padding: 16px;
  max-height: 50px;
}
.heroBannerSearch > input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}
.heroBannerSearchBtn {
  height: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  width: fit-content;
  background-color: transparent;
}

@media (max-width: 1028px) {
  .heroBanner {
    margin-top: 73px;
    position: relative;
    min-height: 550px;
    background-position: initial;
    align-items: end;
  }

  .heroBannerSearch {
    margin: 0;
    max-width: 90%;
  }
  .heroBannerNav > h1 {
    font-size: 45px;
    padding: 0 15px;
  }
}
