/* --- Header --- */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--neutral-500, #a0a3bd);
  background: var(--neutral-white, #fff);
  width: 100%;
  max-width: 382px;
  height: fit-content;
}
.headerBtn > div {
  display: flex;
  gap: 15px;
  align-items: center;
}

.headerBtnInfo {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
}
.headerBtnInfo > p {
  margin: 0;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.headerInfoLocation {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--neutral-500, #a0a3bd);
  font-size: 18px;
}

.headerInfoTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}
.headerInfoTitle > h1 {
  margin: 0;
  color: #000;
  font-size: 24px;
}
.headerInfoTitle > span {
  border-radius: 100px;
  background: var(--neutral-100, #edeff1);
  padding: 6px 12px;
}
.headerRating {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #767676;
}

@media (max-width: 1028px) {
  .header {
    flex-direction: column;
    gap: 24px;
  }
  .headerInfoLocation {
    font-size: 14px;
  }
  .headerInfo {
    gap: 8px;
  }
  .headerInfoLocation {
    order: 2;
  }
  .headerInfoTitle {
    order: 1;
  }
  .headerRating {
    order: 3;
  }
  .headerInfoLocation > div,
  .headerRating > div {
    width: 20px !important;
  }
  .headerInfoTitle {
    align-items: baseline;
  }
  .headerInfoTitle > h1 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .headerInfoTitle > span {
    font-size: 12px;
  }
}
