.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggleSwitchCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSwitchLabel {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggleSwitchLabel:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggleSwitchCheckbox:checked + .toggleSwitchLabel {
  background-color: #2196f3;
}

.toggleSwitchCheckbox:checked + .toggleSwitchLabel:before {
  transform: translateX(26px);
}

.table {
  width: 100%;
  border-collapse: collapse;
  max-width: 95%;
}
table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}
.th,
.td {
  text-align: left;
  padding: 14px 20px;
}
.td {
  font-size: 14px;
}
.td:first-child {
  color: #7f7f7f;
  font-family: Lama Sans;
}
.thead {
  background-color: var(--gray-100, #edeff1);
  border-radius: 16px;
}
.thead > tr > th {
}

.th {
  background-color: #f5f5f5;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}
.pagination > button {
  border-radius: 5px;
  padding: 15px 16px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  border: none;
  font-family: Lama Sans;
  cursor: pointer;
}
.pagination > button:disabled {
  cursor: not-allowed;
}
.pageButtonActive {
  background: var(--Primary, #39374d) !important;
  color: #fff;
}

.button {
  border: none;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ddd;
}

.button:disabled {
  color: grey;
  cursor: not-allowed;
}

.detailsLink {
  display: flex;
  align-items: center;
  gap: 7.5px;
  border: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.userType {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 14px;
  width: fit-content;
}
.adminType {
  background-color: #b2e1e8;
  color: #17a2b8;
  border: 1px solid #17a2b8;
}
.clientType {
  color: var(--Primary, #39374d);
  background: var(--neutral-300, #eff0f6);
  border: 1px solid var(--Primary, #39374d);
}
.providerType {
  color: var(--Secondary, #ffb142);
  border: 1px solid #ffb142;
  background: var(--warning-100, #fefbee);
}
