.paymentWrapper {
  display: flex;
  gap: 24px;
}
.paymentWrapper > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.paymentMethodsWrapper {
  gap: 24px;
}
.paymentMethodsWrapper > h1 {
  margin: 0;
  color: var(--Neutral-800, #0f1f48);
  font-size: 22px;
}
.paymentMethodsWrapperBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 18px 24px;
  border-radius: 10px;
  border: 1px solid var(--Primary, #39374d);
  outline: none;
  background-color: transparent;
  max-height: 64px;
}
.paymentMethodsWrapperBtnStripe {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 18px 24px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 16px;
  border: 1px solid var(--Primary, #39374d);
  background-color: var(--Primary, #39374d);
  color: white;
  outline: none;
  max-height: 64px;
}
.error {
  color: red;
}
.paymentMethodsCards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 600px;
  overflow: scroll;
}
.cardContainer {
  display: flex;
  align-items: center;
  padding: 18px;
  gap: 18px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-500, #a0a3bd);
  background: var(--Neutral-white, #fff);
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cardContainerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7.5px;
  align-items: baseline;
}
.cardContainerMiddle > span {
  color: var(--Neutral-800, #0f1f48);
  font-size: 14px;
}
.cardContainerMiddle > span:nth-child(2) {
  font-weight: bolder;
  font-size: 18px;
}
.cardContainerLast > div {
  margin: 0 0 0 auto;
}
.cardContainer:hover,
.activeCard {
  border-radius: 10px;
  border: 1px solid var(--Secondary, #ffb142);
  background: var(--warning-50, #fffdf7);
  transition: all 0.2s ease-in-out;
}
.cardContainerLast {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7.5px;
  align-items: baseline;
  height: 100%;
}
.inputsNames,
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formContainer input {
  padding: 16px 40px 16px 16px;
  border-radius: 8px;
  border: 1px solid rgb(176, 176, 176);
}
.stripeCards {
  display: block;
}
.cardElementContainer {
  padding: 16px 40px 16px 16px;
  border-radius: 8px;
  border: 1px solid rgb(176, 176, 176);
  background-color: white;
}

.paymentMethodsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-500, #a0a3bd);
}
.paymentMethodsImg {
  border-radius: 10px;
  max-width: 244px;
  max-height: 160px;
}
.paymentMethodsContainerHeader {
  display: flex;
  gap: 30px;
}
.paymentMethodsContainerHeaderInfo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 12px;
  height: 100%;
}

.paymentMethodsContainerHeaderInfo > h1 {
  margin: 0;
  color: var(--Neutral-800, #0f1f48);
  font-size: 20px;
  font-weight: bolder;
}
.paymentMethodsContainerHeaderInfo > p {
  margin: 0;
  color: var(--Neutral-800, #0f1f48);
  font-size: 20px;
}
.locationService > span {
  color: var(--Neutral-500, #a0a3bd);
  font-size: 14px;
}
.headerRating {
  font-size: 14px;
  color: #767676;
}
.paymentMethodsContainerHeaderInfo > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.paymentMethodsContainerMiddle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.paymentMethodsContainerMiddle > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paymentMethodsContainerMiddle > div > span {
  font-size: 16px;
  color: var(--Neutral-600, #6f6c90);
}
.paymentMethodsContainerMiddle > div > span:first-child {
  color: var(--Neutral-800, #0f1f48);
  font-size: 16px;
}
.paymentMethodsContainerFooter {
  display: flex;
  align-items: center;
  gap: 12px;
}
.paymentMethodsContainerFooter > div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--Neutral-500, #a0a3bd);
  background: var(--Neutral-white, #fff);
  padding: 16px;
  max-height: 64px;
}
.paymentMethodsCoupon {
  width: 100%;
  border: none;
  outline: none;
}
.paymentMethodsContainerFooter > button {
  padding: 12px 24px;
  border-radius: 10px;
  background: var(--Secondary, #ffb142);
  outline: none;
  border: none;
  display: flex;
  max-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Neutral-50, #f8fafc);
  font-family: Lama Sans;
  font-size: 14px;
  height: 48px;
}
