.userInformationParent {
  background: var(--neutral-25, #fcfcfd);
  padding: 14px 34px;
}
/* --- Header --- */
.headerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 95%;
  margin: 30px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.headerContainerParent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headerContainerParent > h1 {
  color: var(--neutral-700, #514f6e);
  font-size: 22px;
  margin: 0;
}
.headerContainerParent > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Lama Sans;
}
.heaerActionBtns {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 7.5px;
  border-radius: 10px;
  font-family: Lama Sans;
  font-size: 14px;
}
.approve {
  background: var(--success-600, #5bae60);
  border: 1px solid transparent;
  color: var(--Neutral-white, #fff);
}
.cancel {
  border: 1px solid var(--error-600, #d92c20);
  background-color: transparent;
  color: var(--error-600, #d92c20);
}
.cancel > .img > img {
  background-color: #d92c20;
  border-radius: 50%;
}

.img {
  width: 24px !important;
  height: 24px !important;
}
.actionsModal {
  display: flex;
  gap: 32px;
  background-color: #fff;
  border-radius: 10px;
  overscroll-behavior: contain;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  height: fit-content;
  box-shadow: #000000b3 0 0 100vh 100vh;
  z-index: 9999999;
  width: 100%;
  max-width: 662px;
  position: fixed;
}
.actionsModal > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.headerContainerTitle {
  color: var(--neutral-500, #a0a3bd);
}
.clientOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clientOrder > h1 {
  color: var(--Neutral-800, #0f1f48);
  font-size: 24px;
}
.clientOrder > span {
  color: var(--Neutral-800, #0f1f48);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
.clientOrder > span > strong {
  font-family: Lama Sans;
}

.actionModalsBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actionModalsBtns > button {
  max-width: 120px;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 18px 24px;
  border-radius: 16px;
}
.actionModalsBtns > button:first-child {
  background: var(--primery, #39374d);
  color: white;
}
.headerContainerCurrentTab {
  color: var(--Secondary, #ffb142);
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
  padding: 0;
}
.addNewCategoryBtn {
  padding: 12px 24px;
  max-width: 202px;
  width: 100%;
  border-radius: 10px;
  background: var(--Primary, #39374d);
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.addNewCategoryBtn > div {
  filter: brightness(0) invert(1);
}
.addNewCategoryBtn > span {
  font-family: Lama Sans;
  color: var(--neutral-white, #fff);
}

/* --- User Blocks --- */
.userInformation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  background: var(--neutral-white, #fff);
  padding: 24px;
}
.userInformation > h1 {
  margin: 0;
  color: var(--neutral-800, #0f1f48);
  font-size: 18px;
}
.userInformation > div {
  display: flex;
  align-items: center;
  gap: 36px;
}

.userProfileInitial {
  height: 60px;
  width: 60px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-white);
  font-size: 18px;
}
.seperator {
  background: var(--Secondary, #ffb142);
  width: 3px;
  height: 57px;
}
.userBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.userBlock > p {
  margin: 0;
  color: var(--neutral-500, #a0a3bd);
  font-size: 16px;
}
.userBlock > span {
  color: var(--neutral-800, #0f1f48);
  font-size: 16px;
}
