:root {
  --primary: #39374d;
  --secondary: #ffb142;
  --error-600: #d92c20;
  --gray-100: #edeff1;
  --gray-300: #b7bec8;
  --gray-500: #6f7d91;
  --gray-600: #4b5d75;
  --gray-800: #2d3846;
  --disabled-btn: #cccccc;
  --disabled-text: #9d9d9d;
  --gray-white: #fff;
  --primary-700: #5125a5;
  --neutral-50: #f8fafc;
  --neutral-100: #edeff1;
  --neutral-600: #6f6c90;
  --neutral-800: #170f49;
}
