.appointmenWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* --- Header --- */
.header {
  display: flex;
  gap: 42px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #b7bec8;
  padding: 18px;
}
.headerImg {
  max-width: 300px;
}
.headerImg > img {
  border-radius: 10px;
}
.headerServiceInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headerServiceInfo > h1 {
  margin: 0;
  font-size: 16px;
  padding: 0;
}
.headerServiceInfo > p {
  margin: 0;
  font-size: 14px;
  padding: 0;
  font-weight: 600;
}
.headerServiceInfo > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.locationService > span {
  color: var(--Neutral-500, #a0a3bd);
  font-size: 14px;
}
.headerRating {
  font-size: 14px;
  color: #767676;
}
.imgName,
.imgWrapper {
  width: 60px !important;
  height: 60px !important;
  background: var(--Neutral-100, #edeff1);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
}

.headerServiceDescreptions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.headerServiceDescreptions > div {
  display: flex;
  align-items: center;
  gap: 14px;
}
.headerServiceDescreptions > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.headerServiceDescreptions > div > div > span {
  margin: 0;
  color: var(--Neutral-600, #6f6c90);
  font-size: 14px;
}
.headerServiceDescreptions > div > div > p {
  margin: 0;
  font-size: 14px;
  color: var(--Neutral-800, #0f1f48);
}
.headerServiceInfoCategory {
  width: fit-content;
  border-radius: 100px;
  background: var(--Neutral-100, #edeff1);
  padding: 7.5px 10px;
  font-size: 12px;
}

/* --- Location --- */
.mapContainer {
  height: 300px;
  width: 100%;
}
.mapWrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.placesAutoComplete > input,
.placesAutoComplete {
  width: 100%;
}
.marker {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.suggestionWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgba(128, 128, 128, 0.268);
  padding: 5px;
  border-radius: 10px;
}
.suggestionWrapperEmpty {
  display: none;
}
.suggestionActive {
  background-color: #a8dadc;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.suggestion {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
}
.locationInformation {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 45px;
}
.locationInput {
  outline: none;
}
.locationInput,
.locationInformation > div > p {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 8px 0;
  transition: border-color 0.3s ease;
  min-height: 40px;
  color: var(--neutral-500, #a0a3bd);
  font-family: Lama Sans;
  display: flex;
  align-items: center;
}

.locationInformation > div > span {
  color: var(--neutral-500, #a0a3bd);
  font-size: 16px;
}

/* --- Time/Calender --- */
.calenderWrapper {
  display: flex;
  gap: 24px;
}
.calender {
  display: block;
}
.calender > div:first-child > button:hover {
  background: var(--Secondary, #ffb142);
}
.react-calendar__tile--active {
  color: forestgreen !important;
}

.calender > div:first-child > button:disabled {
  background-color: transparent;
  color: var(--Neutral-800, #0f1f48);
  opacity: 0.2;
}
.calender > div:first-child > button {
  color: var(--Neutral-800, #0f1f48);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--Secondary, #ffb142) !important;
}
.timeSlots {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.timeSlot {
  width: fit-content;
  height: fit-content;
  min-width: 120px;
  padding: 18px 24px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-500, #a0a3bd);
  background-color: transparent;
  transition: all 0.3s ease-in;
  color: var(--Neutral-800, #0f1f48);
  font-size: 16px;
  cursor: pointer;
}

.timeSlot:hover,
.timeSlotActive {
  background: var(--Secondary, #ffb142);
  border: 1px solid transparent;
  color: #fff;
}

/* --- TimeSelected --- */
.timeSelected {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 15px 0;
}
.timeSelected {
  display: flex;
  gap: 10px;
}
.timeSelected > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.timeSelectedHeader > h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.timeSelectedWrapper > span {
  padding: 5px 10px;
  border: 1px solid var(--neutral-500, #a0a3bd);
  border-radius: 30px;
  font-size: 12px;
}
@media (max-width: 1028px) {
  .mapWrapper {
    gap: 15px;
  }
  .locationInformation {
    gap: 15px;
    grid-template-columns: auto;
  }
  .header {
    flex-direction: column;
  }
  .calenderWrapper {
    flex-direction: column-reverse;
  }
  .timeSlots {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
  }
  .timeSlot {
    min-width: auto;
    padding: 12px;
    width: auto;
  }
  .timeSelected > div {
    flex-wrap: wrap;
  }
}
