.serivesWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 250px 90px;
  background: var(--gray-50, #f8fafc);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.title > h1 {
  line-height: 0;
  color: var(--secondary);
  font-size: 24px;
  position: relative;
  text-align: center;
  display: inline-block;
}
.title > h1::before,
.title > h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 2px;
  background-color: var(--secondary);
  transform: translateY(-50%);
}

.title > h1::before {
  left: calc(-100% - 20px);
}

.title > h1::after {
  right: calc(-100% - 20px);
}
.title > h2 {
  line-height: 0;
  color: var(--neutral-800);
  font-size: 42px;
}
.serivesCards {
  display: flex;
  align-items: center;
  gap: 32px;
}
.serivesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background: var(--gray-white, #fff);
  box-shadow: 0px 4px 54px 0px rgba(102, 102, 102, 0.05);
  padding: 64px 24px;
  max-width: 443px;
  width: 100%;
  max-height: 402px;
  height: 100%;
}
.highlight {
  padding: 100px 24px;
  max-width: 504px;
  border: 0.5px solid var(--SECONDERY, #ffb142);
}

.serivesCard > h1 {
  line-height: 0;
  font-size: 32px;
  color: var(--primary);
  white-space: nowrap;
}
.serivesCard > p {
  color: var(--gray-500);
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.img {
  max-width: 50px;
}
.serivesCard > a {
  color: var(--secondary);
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.88px;
}
.serivesCard:nth-child(2) .img {
  max-width: 150px;
}
.serivesCard {
  display: flex !important;
  align-items: center;
  gap: 32px;
  overflow: hidden; /* Prevents overflow during transitions */
  transition: transform 0.5s ease; /* Smooth transition for the card container */
}

.animate {
  transition: transform 0.5s ease, opacity 0.5s ease; /* Animates the individual cards */
  opacity: 1; /* Ensure cards are fully visible by default */
}

.servicesCard-exiting,
.servicesCard-entering {
  opacity: 0; /* Fades cards in and out on enter/exit */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.sliderPrevBtn,
.sliderNextBtn {
  min-width: 30px;
  height: 30px;
  max-width: 30px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
  background-color: white;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}
.sliderPrevBtn:hover,
.sliderNextBtn:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.sliderNextBtn {
  transform: rotate(180deg);
}
.sliderPrevBtn:hover .sliderNextBtnImg,
.sliderNextBtn:hover .sliderNextBtnImg {
  filter: invert(100%) brightness(2);
  transition: filter 0.3s ease-in-out;
}

.slideLeft {
  animation: slideInLeft 0.5s ease-out;
}

.slideRight {
  animation: slideInRight 0.5s ease-out;
}

@media (max-width: 1028px) {
  .serivesWrapper {
    padding: 40px 20px;
    gap: 30px;
  }
  .title {
    gap: 16px;
  }
  .title > h1 {
    font-size: 16px;
  }
  .title > h1::before,
  .title > h1::after {
    width: 80px;
  }
  .title > h2 {
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
  }
  .serivesCard > h1 {
    line-height: normal;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 28px;
  }
  .serivesCard > p {
    padding: 0;
    margin: 0;
  }
  .serivesCard:nth-child(2),
  .serivesCard {
    max-height: none;
    padding: 32px 24px;
    gap: 24px;
  }
  .serivesCard,
  .highlight {
    width: 100%;
    max-width: none;
  }
}
