.serviceInformationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 45px;
}
.serviceInformationContainer > div {
  width: 100%;
}
.serviceInformationWrapper {
  display: flex;
  align-items: center;
  gap: 45px;
}
.serviceInformationWrapper > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}
.caregoriesBtn {
  display: flex;
  align-items: baseline;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: var(--neutral-white, #fff);
  padding: 11.5px 20px;
  cursor: pointer;
  min-height: 41px;
  font-size: 16px;
  margin: 8px 0;
}
.caregoriesBtnInActive {
  color: grey;
}
.serviceCertificate {
  display: flex;
  align-items: baseline;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: var(--neutral-white, #fff);
  padding: 12px 20px;
}
.serviceCertificate > div {
  margin: 0 0 0 auto;
}
.serviceCertificate > div > button {
  padding: 12px 20px;
  border-radius: 30px;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
}
.deleteCertificate {
  width: fit-content;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
}
.titleCertificate {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px !important;
}
.input {
  border-radius: 5px;
  border: 1px solid lightgray;
  background: var(--neutral-white, #fff);
  padding: 10px 20px;
  max-height: 64px;
  outline: none;
}

.input:focus {
  border: 1px solid gray;
}
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}
span,
.serviceCertificate > span,
label {
  color: var(--primary);
  font-size: 14px;
}
.serviceCategoryContainer > span,
.serviceInformationContainer > div > div > span {
  font-size: 16px;
  font-weight: 800;
}
.serviceCategoryWrapper {
  position: relative;
}
.serviceModal {
  position: absolute;
  top: 110%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid lightgray;
  z-index: 11;
  width: 100%;
}
.serviceModal > ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 7.5px;
}
.serviceModal > ul > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  gap: 5px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: black;
  border: none;
}
.serviceModal > ul > button:hover {
  background-color: var(--primary);
  color: white;
}
.serviceCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.serviceCategoryContainer > button {
  display: flex;
  margin: 0 0 0 auto;
}
.serviceCategoryPricing {
  width: 100%;
  position: relative;
}
.serviceCategoryPricing > input {
  width: 100%;
}
.serviceCategoryPricing > span,
.imgWrapper {
  position: absolute;
  right: 15px;
  top: 18px;
  color: var(--secondary);
}
@media (max-width: 1028px) {
  .serviceInformationContainer > div {
    flex-direction: column;
  }
  .serviceInformationContainer,
  .serviceInformationWrapper {
    gap: 10px;
  }
  .serviceModal {
    width: 100%;
  }
}
