.authForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0;
}
.authForm > h2::first-letter {
  text-transform: capitalize;
}
.authForm > h2 {
  color: var(--primary);
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
}
.signUpForm {
  background: var(--primary);
}
.card {
  width: 620px;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.mainWrapper {
  flex-flow: column-reverse;
}
.footer {
  display: none;
}
.formName {
  display: flex;
  flex-direction: column;
}
.otpCodeFieldInputs {
  width: 100%;
  justify-content: space-between;
}
.otpCodeFieldInputs > input {
  border-radius: 10px;
  border: 1px solid var(--gray-300);
  max-width: 70px;
  min-height: 50px;
}
.formInputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.formInputs > div {
  border-radius: 10px;
  border: 1px solid var(--gray-300, #b7bec8);
  background: var(--gray-white, #fff);
  position: relative;
  padding: 15px 16px;
}
.formInputs > div > input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.input {
  margin: 0 !important;
  padding: 0 !important;
  text-indent: 30px;
}
.phoneInput > input {
  font-size: 16px;
}
.formInputs > div > input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}
.inputImgWrapper {
  position: absolute;
  left: 15px;
}
.authFormContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.authContainerBtn {
  border-radius: 10px;
  background: #39374d;
  padding: 18px 24px;
  border: none;
  outline: none;
  color: var(--gray-white);
  font-size: 18px;
}
.authContainerBtn:disabled {
  background-color: var(--disabled-btn);
  color: var(--disabled-text);
}
.errorMessage {
  color: var(--error-600);
}
.login {
  border-radius: 10px;
  border: 1px solid var(--gray-300, #b7bec8);
  background: var(--gray-white, #fff);
  position: relative;
  padding: 15px 16px;
  text-align: center;
  font-size: 18px;
}
.loginText {
  display: inline-flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px; /* Adjusts the space between the lines and the text */
  font-size: 12px;
  color: var(--primary);
}

.loginText::before,
.loginText::after {
  content: "";
  flex: 1; /* This will ensure the lines take up equal space on both sides */
  height: 1px; /* Adjust the thickness of the line */
  background-color: var(--gray-300); /* Change the color as needed */
}
